body, html {
  height: 100%;
  margin: 0;
  background-color: #011a0d; /* Background colour */
  font-family: Monochromatty;
  color: #008000; /* Text color */
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(#011a0d 0px 10px, #011606 10px 11px); 
  opacity: 1;
}

/*
Scrollbar settings - don't work on Firefox :(
*/
#terminal::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

#terminal::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

#terminal::-webkit-scrollbar-thumb {
  background-color: #008000;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #008000;  /* creates padding around scroll thumb */
}



#terminal {
  height: 100%;
  overflow-y: scroll;
  flex-grow: 0;
}

.big-box {
  height: 100%;
  overflow: hidden;
}

.small-box {
  margin-top: 5%;
  padding: 10px;
  width: 40%;
  border: 4px solid #008000;
  height: 60%;
}

#term-box {
  float: left;
  margin-left: 5%;
}

#info-box {
  float: right;
  margin-right: 5%;
}

input {
  background-color: transparent; /* Background colour */
  border: none;
  color: #008000; /* Text color */
  caret-color: #008000; /* Cursor color */
  font-family: "Kode Mono", monospace;
  font-weight: 500;
  font-size: medium;
  padding: 0;
  border: 0;
  margin: 0;
  width: calc(100% - 40px); /* Adjust based on padding */
}

input:focus {
  outline: none;
}

p {
  white-space: pre-line;
  font-family: Monochromatty;
  font-weight: 500;
  font-size: medium;
}

h1 {
  white-space: pre-line;
  font-family: Monochromatty;
  font-weight: 500;
  text-align: center;
}
