body, html {
  height: 100%;
  margin: 0;
  background-color: #011a0d; /* Background colour */
  font-family: Monochromatty;
  color: #008000; /* Text color */
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(#011a0d 0px 10px, #011606 10px 11px); 
  opacity: 1;
}

/*
Scrollbar settings - don't work on Firefox :(
*/
#terminal::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

#terminal::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

#terminal::-webkit-scrollbar-thumb {
  background-color: #008000;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #008000;  /* creates padding around scroll thumb */
}

.big-box {
  height: 100%;
  overflow: hidden;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.small-box {
  margin-top: 10px;
  margin-left: 5%;
  padding: 10px;
  border: 4px solid #008000;
  border-style: dotted;
}

#title {
  text-align: center;
}

#terminal {
  height: 100%;
  overflow-y: scroll;
  flex-grow: 0;
}

#term-box {
  float: left;
  height: 90%;
  width: 40%
}

#information-box {
  float: left;
  margin-left: 5%;
  width: 85%;
  height: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#map-box {
  width: 120px;
}

#energy-box {
  width: 150px;
}

#messages-box {
  width: 220px;
  margin-right: 5%;
}

#inventory-box {
  text-align: center;
  width: 180px;
  height: 90%;
}

#map-box, #energy-box, #messages-box {
  text-align: center;
  padding: 0%;
  height: 150px;
}

input {
  background-color: transparent; /* Background colour */
  border: none;
  color: #008000; /* Text color */
  caret-color: #008000; /* Cursor color */
  white-space: pre-line;
  font-family: Monochromatty;
  font-weight: 500;
  font-size: medium;
  padding: 0;
  border: 0;
  margin: 0;
  width: calc(100% - 40px); /* Adjust based on padding */
}

input:focus {
  outline: none;
}

p {
  white-space: pre-line;
  font-family: Monochromatty;
  font-weight: 500;
  font-size: medium;
}

h1 h4 {
  white-space: pre-line;
  font-family: Monochromatty;
  font-weight: 500;
  text-align: center;
}

h4 {
  line-height: 0px;
  margin-bottom: 0;
}

